/*  -------- carousel div + track-container (hvor billederne ligger) --------*/

.carousel {
  aspect-ratio: 1920 / 691;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.carousel_img {
  width: 100%;
  object-fit: cover;
}

.carousel_track-container {
  background-color: hotpink;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* hidden så når vi klikker videre med js, så forsvinder den ikke */
}

.carousel_track {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  transition: transform 250ms ease-in;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* -------- buttons -------- */

/* button {
  border: none;
} */

.carousel_btn {
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  cursor: pointer;
}

.carousel_btn--left {
  left: -40px;
}

.carousel_btn--right {
  right: -40px;
}

.carousel_btn img {
  width: 12px;
}

/* ------- carousel nav indicators ------ */

.carousel_nav {
  /* background: pink; */
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel_indicator {
  border: 0;
  border-radius: 20px;
  width: 50px;
  height: 15px;
  background: rgb(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel_indicator.current-slide {
  background: rgb(0, 0, 0, 0.75);
}
/* ---- fjerne arrow knap ---- */
.is-hidden {
  display: none;
}
