/* __________________________ one product site ____________________________ */

/* h1 {
  font-family: Khmer MN;
  font-size: 35px;
  font-weight: 100;
  color: #707070;
  margin-bottom: 0;
}

p {
  font-family: Montserrat;
  color: #707070;
  font-size: 17px;
  line-height: 25px;
}

h2 h3 {
  font-family: Montserrat;
  color: #707070;
  font-size: 25px;
  line-height: 25px;
}

select {
  border-radius: 5%;
  border: 0.7px solid gray;
  width: 100px;
  margin-left: 10px;
  color: #707070;
  background-color: white;
  padding: 7px;
}

.action-wrapper {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}
.action-wrapper input {
  border-radius: 5px;
  border: 0.5px solid gray;
  width: 100px;
  margin-left: 10px;
  color: #707070;
  background-color: white;
  padding: 7px;
}

.sale {
  background-color: red;
  width: 30%;
  font-size: 20px;
}
/* kaldes i js hvis der er udsalg og givet streg over tidligere pris
.prevprice {
  text-decoration: line-through;
}

/* kaldes hvis udsolgt og giver mørkt overlay på billede 
.overlay {
  filter: brightness(60%);
}

.soldout {
  background-color: white;
  width: 150px;
  height: 5%;
  position: absolute;
  z-index: 1;
}

.soldoutp {
  color: black;
  /* background-color: white; 
  margin: auto;
}
.soldoutp::before {
  content: "Out of stock";
}

@media (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .div1 {
    display: flex;
    grid-column: 2/4;
    margin-top: 80px;
    justify-content: end;
  }

  .div2 {
    grid-column: 4/6;
    margin-top: 100px;
    margin-left: 20px;
  }

  .productimg {
    width: 350px;
    border: solid 2px #a6a29a;
  }

  .bot {
    margin-top: 15%;
    margin-left: 25%;
  }
}

@media (max-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .div1 {
    grid-column: 1/2;
    margin-top: 30px;
  }

  .div2 {
    grid-column: 1/2;
  }

  .productimg {
    max-width: 60%;
    border: solid 2px #a6a29a;
  }

  main {
    margin: 15%;
  }
  .bot {
    margin: 40px;
  }
  h1 {
    font-size: 25px;
  }

  .searchjpeg {
    width: 0px;
  }
} */
